<launch>

    <master auto="start"/>

    <!-- launch arduino bridge -->
    <node name="arduino_bridge" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0" />
    </node>

    <node name="tf_broadcaster" pkg="zoom_core" type="tf_broadcaster"/>
	
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
	<arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
	</include>
    
	<include file="$(find zoom_mapping)/launch/map.launch"/>	

	<!-- move_base -->
	<include file="$(find zoom_core)/launch/move_base.launch"/>

</launch>
